@* <!DOCTYPE html>
<html lang="en"> *@
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A  STORE</title>
    <meta name="description" content="Website chuyên Táo APPLE " />
    <meta name="copyright" content="A STORE" />
    <meta name="author" content="A STORE" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>


    <header style="background-color: #FFD600">

        <head>

            <style>
                .logoquangcao {
                    background-color: #1A4EC3;
                    text-align: center;
                }

                .carousel-inner .item img {
                    height: 280px;
                    width: auto;
                }

                .li {
                    background-color: #1A4EC3;
                }

                .div ul li a:hover {
                    background-color: yellow;
                }

                .carousel-inner w-100 {
                    height: 3000px;
                }

                .col-md-10 {
                    height: 400px;
                }
            </style>

        </head>

        <body>
            <div class="logoquangcao">
                <p><img src="~/images/quangcaothucudoimoi.webp" alt="Alternate Text" /></p>
            </div>
        </body>
        <div class="container">
            @* Thanh cong cu nav *@
            
             @await Html.PartialAsync("_MenuPartial") 

        </div>

    </header>


    <div class="container">
        @* particial thanh product *@
        @await Html.PartialAsync("_CategoryPartial")
        
        @RenderBody()
    </div>


    <div class="content">
        <div class="container">
            <div class="col-md-9">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                </div>

            </div>
        </div>
    </div>



    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>



