@model XayDungWebAphone.ViewModels.HomeViewModel
<div class="container" style="background-color: #FF6600">
    <div class="col-md-4">
        <img width="300px" height="50px" src="~/images/logo.svg" alt="">
    </div>
    <div class="col-md-4">
        <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- The form -->
        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-md-4">
        <li>
            <a href="#" data-toggle="modal" data-target="#modalSignup">
                <span class="glyphicon glyphicon-user"></span> Đăng ký
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#modalLogin">
                <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
            </a>
        </li>
    </div>
